* {
    padding:0;
    margin:0; 
}
body {
    background:orange;

}
/* LOGIN OR REGISTER */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

  .fondoLoginOrRegister {
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}
.logoJuego {
    font-size: 7.5rem;
    text-align: center;
    margin-top: 2%;
    color: #fffefd;
    background:orange;  
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #e7371c, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
}
#allthethings {
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  margin:auto;
  margin-top:7%;
  background:orange;  
}

#single {  
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#006680;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  cursor:pointer;
  margin-bottom: 30px;
}
#single a {
    color:orange;
    text-decoration: none;
}

#single:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  text-decoration: none;
}


#single p {
    position:relative;
    top:2px;
    right:4px;
}

#registrate {
    height:50px;
    width:500px;
    background:#006680;
    position:relative;
    bottom:345px;
    right:240px;
    text-align:center;
    font-size:30px;
    font-family:shadows into light;
    color:orange;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
    margin-bottom: 30px;
    
}
#registrate p {
    position:relative;
    top:0px;
    right:9px;
}
#registrate:hover {
    background:#7A0000;
    color:white;
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);  
}

#comoJugar {
    height:50px;
    width:400px;
    background:#006680;
    position:relative;
    bottom:360px;
    right:200px;
    font-size:30px;
    text-align:center;
    font-family:shadows into light;
    color:orange;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
    margin-bottom: 30px;
    
}

#comoJugar p {
    position:relative;
    top:0px;
    right:4px;
}
#comoJugar:hover {
    background:#7A0000;
    color:white;
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
}
.containerModal h1 {
    color:white;
    font-weight: bold;
    font-size: 3rem;
    text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@600&family=Sedgwick+Ave&display=swap');
.containerModal .pReglas {
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Anton', sans-serif !important;
font-family: 'Montserrat', sans-serif !important;
font-family: 'Sedgwick Ave', cursive !important;
}

#ranking {
    height:50px;
    width:300px;
    position:relative;
    background:#006680;
    bottom:375px;
    font-size:30px;
    right:150px;
    text-align:center;
    font-family:shadows into light;
  color:orange;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  margin-bottom: 30px; 
}
#ranking p {
    position:relative;
    top:0px;
}
#ranking:hover {
    background:#7A0000;
    color:white;
    -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
}
#ranking a {
    color:orange ;
    text-decoration:none;
}
#ranking a:hover {
    color: white;
}
table {
    margin-left: 40px;
}
tr {
    font-size: 1.5rem;
    margin-top: 25px;
    color:white;
}

.topUsuario {
    margin-top: 4px;
    color:#af0c0c;
    text-transform: uppercase;
}
.topPuntos {
    margin-left: 30px;
    text-align: center;
    font-size:2rem;
    font-weight: bold;
    color:rgb(216, 96, 96);
}
.modal-body {
    /* hace que el contenido no colapse fuera del modal, y le agrega un scroll */
    overflow-y: auto !important;
}
.modal-body::-webkit-scrollbar {
    /* hace que el scroll que se agrego no se vea */
    display:none
}


.modal-dialog {
    height:90vh !important;
}
.modal-content {
    display: flex !important;
    width: 100%;
    height:80vh !important;
    background-color: orange;
    border-radius:4%;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@600&family=Sedgwick+Ave&display=swap');
.usuario h2, .contraseña h2 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    font-weight: bold;
}
.usuario input, .contraseña input {
    width:400px;
    border-radius: 10px;
    height:60px;
    margin-bottom: 20px;
}
.userycontraseña {
    margin-top: 15%;
}
.iniciarSesion {
    border-radius: 10%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:rgb(177, 123, 6);
    margin-top:5%;
    border: none;
    width: 70%;
    height:50px;
    margin-left:10%;
}
.iniciarSesion:active {
    background-color: rgb(114, 74, 1);
    transform:translateY(7px);
    box-shadow: 1px 4px rgb(114, 74, 1);
}

.formRegistro div{
    border-radius: 10%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top:5%;
    border: none;
    width: 70%;
    height:50px;
    margin-left:10%;
}
.mail input, .usuario input, .nickname input, .pass input {
    width: 400px;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 20px;
}
.foto_perfil input {
    width: 95%;
}
.bola{
    position: absolute;
    background-color:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -2px -2px 6px black  ,
                 -2px -2px 26px black inset;

    animation: rebote 20s   infinite  ;   
}
    
    @keyframes rebote{
        0%{
            transform:translate(0px, 400px);
        }
        10%{
            transform:translate(400px, 600px);
            background-color: yellow;
        }
        20%{
            transform:translate(300px, 200px);
            background: green;
        }
        30%{
            transform:translate(1100px, 500px);
            background: grey;
        }
        40%{
            transform:translate(0px, 600px);
            background: maroon;
        }
        50%{
            transform:translate(1200px, 0px);
            background: orange;
        }
        60%{
            transform:translate(600px, 600px);
            background-color: pink;
        }
        70%{
            transform:translate(200px, 0px);
            background-color: purple;
        }
        80%{
            transform:translate(200px, 600px);
            background-color: springgreen;
        }
        90%{
            transform:translate(0px, 400px);
            background: seashell;
        }
        100%{
            transform:translate(450px, 600px);  
        }
        
}
/* NAV HOME */

nav div img {
    width: 100%;
    border-radius:50%
}
.fotoNav {
    width: 5%;
}
nav div p {
    font-weight: bold;
    font-size: 1.5em;
    color: #940000;
}
nav {
    margin-top: 15px;
    display:flex;
    justify-content: flex-end;
}
nav div {
    width: 250px;
    margin-left: 30px;
}

/* --------------------------------------------------------------------------------------- */
/* JUEGO */
.botonesGame {
    width: 20%;
    position: absolute;
    top: 20%;
}
.botonesGame button {
    border:none;
    margin:50px;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    background: none;
}
.botonesGame a button svg {
    color:rgb(15, 92, 0);
}

.contenedor {
    padding:0;
    margin:auto;
    width: 650px;
    height: 550px;
    color: white;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* margin-top: 5%; */
    background: #ef4b4c;
    box-shadow:  1px 5px 6px #d04142,
             1px -4px 6px #ff5556;
}
#player {
    position: absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;
    transition: all 0.2s;
    box-shadow: -2px -2px 6px black  ,
                 -2px -2px 26px black inset;
}
#player:active {
    background-color: rgb(255, 255, 255);
}
#puntos, #tiempo, b {
    background: #ef4b4c;
}
.pointer {
    border-radius:0px;
    height:100px;
    margin-top: 3%;
    margin-bottom:7px;
    color: #fff;
    font-size: 3rem;
    text-align:center;
}

#modalPuntos {
    display: none;
    margin-top: -47%;
    height:450px;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@600&family=Sedgwick+Ave&display=swap');
.gameOver {
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    font-weight: 800;
    color: rgb(235, 232, 232);
    font-size: 4rem;
    margin-top: 50px;
}
.modal-body form, .modal-body form h3 {
    font-size: 3rem;
    margin-top: 10%;
    border-bottom: none !important;
}
.modal-body form p {
    font-size:2.5rem;
}
.modal-headerGame {
    border-bottom: 5px solid rgb(235, 235, 235) !important;
}
.modal-footerGame {
    border-top:none;
}
#btn-enviarPuntos {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: bold;
    width:450px;
    height:60px;
}
#puntosTotales {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------- */